* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    text-decoration: none;
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    max-height: 14vh;
    background-color: rgba(0, 0, 0, 0);
}

.icono_head img {
    filter: drop-shadow(0px 5px 5px rgb(251, 218, 53));

    margin-top: 2.5vh;
    margin-left: 4vh;
    max-width: 16vh;
    max-height: 16vh;
}

.icono_trueno img {
filter: drop-shadow(10px 5px 5px rgb(20, 31, 86));
    margin-top: 2.5vh;
    max-width: 25vh;
    max-height: 22.3vh;
    transition: all 500ms ease;
}

.icono_trueno img:hover {
    transform: scale(1.1);

    filter: drop-shadow(0px 5px 5px rgb(251, 218, 53));
}

.baner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    height: 90vh;
    color: white;

    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(9,9,121,0) 50%);
}

.apartados {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 20vh;
    width: 100%;
}

.apartados img {
    filter: drop-shadow(8px 8px 5px rgb(0, 0, 0));

    max-width: 50vh;
    max-height: 50vh;
    transition: all 500ms ease; 
}

.apartados img:hover {
    transform: scale(1.1);
    filter: drop-shadow(0px 0px 5px rgb(251, 218, 53));
}

.secciones {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.secciones img{
    display: flex;
    justify-content: center;
    align-items: center;
}

.fechas {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 100%;
    height: 150vh;

    padding: 0vh 0vh 15vh 0vh;

    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

    background: radial-gradient(circle, rgba(9,9,121,0) 0%, rgba(0,0,0,1) 40%), url('./img/trueno-portada4.jpg');
    background-position-x: 50%;
    background-position-y: 50%;
    background-repeat: no-repeat;
    background-attachment:scroll;
}

.fechas img{
    padding: 0vh 0vh 2vh 0vh;
}

.fechas-trueno{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.fechas-trueno li{
    display: flex;
    justify-content: start;
    align-items: start;

    letter-spacing: 2px;
    font-size: 28px;
    text-shadow: 3px 3px 2px rgb(0, 0, 0);
    list-style: none;

    margin: 0px;
    padding: 0px;

    color: white;
}

.fondo_historia {
    background: linear-gradient(to bottom, #000, rgba(0, 0, 0, 0)), url('/img/trueno-portada2.jpg');
    background-attachment: scroll;
    background-position-y: 50%;
    background-position-x: 20%; 
    background-repeat: no-repeat;
    background-size: cover;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    
    margin-top: -15vh;

    color: white;
}

.historia {
    max-width: 90vh;
    max-height: 120vh;
    margin-bottom: 15vh;
}

.historia p {
    filter: drop-shadow(8px 8px 8px rgb(0, 0, 0));
    text-align: center;
    font-size: 3vh;
}

.icono_historia {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 25vh;
    margin-bottom: 10vh;
}

.icono_musica img{
    filter: drop-shadow(8px 8px 5px rgb(0, 0, 0));
    max-width: 50vh;
    max-height: 50vh;
    transition: all 500ms ease;
}

.icono_musica img:hover {
    transform: scale(1.1);
    filter: drop-shadow(0px 0px 5px rgb(251, 218, 53));
}

.icono_musica {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 25vh;
}

.icono_historia img{
    filter: drop-shadow(8px 8px 5px rgb(0, 0, 0));
    max-width: 50vh;
    max-height: 50vh;
    transition: all 500ms ease;
}

.icono_historia img:hover {
    transform: scale(1.1);
    filter: drop-shadow(0px 0px 5px rgb(251, 218, 53));
}

.fondo_musica {
    background: linear-gradient(to bottom, #000, rgba(0, 0, 0, 0)), url('/img/trueno-portada3.jfif');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    
    margin-top: -15vh;

    color: white;
}

.articulos_spoti {
    background-color: rgba(251, 218, 53, 0);
    
    max-width: 50%;

    margin-top: 20vh;
    padding: 1px;
    bottom: 10vh;

    border-radius: 0 10px 10px 0;
}

.articulos_spoti h3 {
    text-align: center;
    font-size: 5vh;
    
    margin: 1vh;
}

.spotify {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    padding: 1.5vh;
}

.articulos_ult_lan {
    text-align: center;
    
    font-size: 4vh;
}

.ult_lan {
    padding: 2vh;
    
    margin-top: 20vh;
    margin-bottom: 10vh;
    margin-left: 50%;
    
    width: 50%;
    max-height: 60vh;
    
    bottom: 10vh;
}

.articulos_mas_rep {
    text-align: center;
    
    font-size: 4vh;
}

.mas_rep {
    padding: 2vh;
    
    margin-top: 10vh;
    margin-bottom: 10vh;
    
    width: 50%;
    max-height: 60vh;
    
    bottom: 10vh;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: -1vh;
    padding: 15vh 0vh 5vh 0vh;

    color: white;

    background-color: #000;
}

footer img {
    max-width: 7vh;
    max-height: 7vh;
}

.redes {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.redes img {
    display: table-row;
    margin: 5vh;
    transition: all 500ms ease;
}

.redes img:hover {
    transform: scale(1.15);
    filter: drop-shadow(8px 8px 5px rgb(20, 31, 86));
}

html {
    scroll-behavior: smooth;
}

body {
    background-image: linear-gradient(to bottom, #000, rgba(0, 0, 0, 0)), url(./img/trueno-portada.jpg);
    background-attachment: fixed; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    
    font-family: "Teko", serif;
    font-optical-sizing: auto;
    font-style: normal;
}